//META{"name":"LooperFlat","description":"Patched the chat","author":"AzzyLooper","version":"2. [Alpha]"}*//
/*Channels list*/
[class~=guilds-wrapper] [class~=guilds] [class~=guild] {
    margin-top: 6pt;
}
[class~=guilds-wrapper] [class~=guilds] [class~=guild]:first-child,
[class~=guilds-wrapper] [class~=guilds] [class~=friends-online] {
    margin-left: auto;
}
.guilds-wrapper .guilds .guild-separator,
[class~=guilds-wrapper] [class~=guilds] [class~=friends-online] {
    width: 100%;
}
[class~=guilds-wrapper] [class~=guilds] [class~=guild]:first-child {
    margin-right: auto;
}
.guilds-wrapper {
    transition: 200ms;
    width: 5px;
}
.bar-Y-RLyN {
	width: 176px
}
.guilds-wrapper:hover {
    transition: 200ms;
    width: 188px;
}
[class~=guilds-wrapper] [class~=guilds] [class~=guild] {
    margin-left: .3pc;
}
[class~=guilds-wrapper] [class~=scroller-wrap] {
    width: 149pt;
}
[class~=guilds-wrapper] [class~=guilds],
[class~=guilds-wrapper] [class~=guilds] [class~=dms] {
    display: flex;
}
[class~=guilds-wrapper] [class~=guilds],
[class~=guilds-wrapper] [class~=guilds] [class~=dms],
[class~=guilds-wrapper] [class~=guilds] {
    flex-flow: row wrap;
}
[class~=guilds-wrapper] [class~=guilds],
[class~=guilds-wrapper] [class~=guilds] {
    align-content: flex-start;
}
.guilds-wrapper .guilds .guild:hover .guild-inner a {
    height:40px;
    line-height:40px
}
.guilds-wrapper .guilds .guild:not(:hover) .guild-inner a {
    height:40px;
    line-height:40px
}
.guilds-wrapper .guilds .friends-icon {
    height:100%
}
.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .guild.unread:before {
    left:0;
    top:0;
    width:100%;
    margin-top:0;
    height:80%;
    border-radius:0;
    z-index:-1;
    margin-top:0;
}
.guilds-wrapper .guilds .guild .badge{
    left:0;
    right:0;
    bottom: unset;
    top: 20px;
    height: 20px;
    padding: 0;
    z-index: -1;
    text-align: center;
    line-height: 30px;
    transition: padding-top .2s;
}
.guilds-wrapper .guilds .guild:hover .badge{
    padding-top: 12px;
    transition: padding-top .2s cubic-bezier(.34,.49,.62,1.48);
}
.guilds-wrapper .guilds .guilds-error:not(:hover),
.guilds-wrapper .guilds .guilds-add:not(:hover) {
    height: 40px;
    line-height: 30px;
}
.guilds-wrapper .guilds .guilds-add:hover,
.guilds-wrapper .guilds .guilds-error:hover {
	height: 40px;
    line-height: 30px;
}
/*Background*/
.theme-dark.contextMenu-uoJTbz,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.theme-dark .ui-standard-sidebar-view,
.container-2OU7Cz,
.container-RYiLUQ,
.layers-20RVFW,
.layer-kosS71,
.container-2OU7Cz,
.typing-3eiiL_,
.layers-20RVFW,
.theme-dark .layer,
.theme-dark .layers,
.guilds-wrapper,
.theme-dark .chat form .typing,
.theme-dark .chat form,
.theme-dark .chat>.content,
.theme-dark .chat,
.theme-dark .headerBar-cxbhPD,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.theme-dark .ui-standard-sidebar-view,
.theme-dark .members-1bid1J,
.theme-dark #friends,
.theme-dark .title-qAcLxz,
.theme-dark .typing-3eiiL_,
.appMount-14L89u,
.channels-3g2vYe,
.container-iksrDt,
.container-3lnMWU {
    background: #101010;
}
.unread-23Kvxk {
    background: red;
}
div[class^="wrapper"] div[class^="content"],
.wrapper-fDmxzK {
    background: linear-gradient(to right, #401010 0%, #101010 50%, #101010 100%);
}
div[class^="wrapperSelected"] div[class^="content"],
div[class^="wrapperSelected"] {
    background: linear-gradient(to right, #901010 0%, #101010 50%, #101010 100%);
}
div[class^="wrapperHovered"] div[class^="content"],
.wrapper-fDmxzK:hover {
    background: linear-gradient(to right, #601010 0%, #101010 50%, #101010 100%);
}
.containerDefault-1bbItS {
	color: rgba(150,0,0,1) !important;
	padding: 10px 100px 10px 100px;
	background: linear-gradient(to right, #401010 0%, #101010 50%, #101010 100%);
	border-color: #101010;
	transition: all 700ms ease;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 700ms ease;
}
.containerDefault-1bbItS:hover {
	color: rgba(255,0,0,1) !important;
	background: linear-gradient(to right, #601010 0%, #101010 50%, #101010 100%);
}
#friends, #friends>div {
	background-color: #101010;
}
.theme-dark .member-2FrNV0:hover .content-3JzEqq {
	background: linear-gradient(to right, #101010 0%, #101010 50%, #601010 100%);
    color: #ffffff;
	border-left: 5px solid rgba(255,0,0,1) !important;
	transition: .2s;
}
.theme-dark .member-2FrNV0 .content-3JzEqq {
	background: linear-gradient(to right, #101010 0%, #101010 50%, #401010 100%);
	border-left: 0px solid rgba(10,10,10,0) !important;
	transition: .2s;
}
.membersGroup-3_dP5E {
	color: rgba(150,0,0,1) !important;
	padding: 10px 100px 10px 100px;
	background: linear-gradient(to right, #101010 0%, #101010 50%, #401010 100%);
	border-color: #101010;
	transition: all 700ms ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.membersGroup-3_dP5E:hover {
	color: rgba(255,0,0,1) !important;
	background: linear-gradient(to right, #101010 0%, #101010 50%, #601010 100%);
	transition: all 700ms ease;
}
.app {
    overflow-x: hidden;
}
.bd-blue .tooltip {
    background-color: red !important;
}
.bd-blue .tooltip.tooltip-right:after {
    border-right-color: red !important;
}
.bd-blue .tooltip.tooltip-top:after {
    border-top-color: red !important;
}
.bd-blue .tooltip.tooltip-bottom:after {
    border-bottom-color: red !important;
}
.bd-blue .tooltip.tooltip-left:after {
    border-left-color: red !important;
}
/*Chat*/
.members-1bid1J {
    transform:translate(180px);
    z-index:2;
    transition:all 300ms ease;
}
.members-1bid1J:hover{
    animation: member 300ms ease;
    transform:translate(0px);
}
.activityText-258pdj,
.memberInner-3XUq9K {
    opacity:0;
    transition:opacity 300ms ease, margin 100ms ease;
}
.memberInner-3XUq9K {
    margin-bottom:10px;
}
.members-1bid1J:hover .activityText-258pdj, .members-1bid1J:hover .memberInner-3XUq9K {
    opacity:1;
}
.header-toolbar button.active{
    display:none;
}
.members-1bid1J .avatar-small{
    transform:scale(1.2);
}
.members-1bid1J:hover .avatar-small{
    transform:scale(1);
}
.chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:-180px;
    z-index:1
}
.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:0px;
    z-index:1
}
.theme-dark .message-group .comment .markup:hover {
    transition: .2s;
    color: white;
}
.theme-dark .message-group .comment .markup {
    transition: .2s;
}
#app-mount form div[class*="inner-"] { /* chat bar */
    background: transparent;
}
#app-mount form div[class*="autocomplete-"] {
    background: #101010;
} /* autocomplete popup */
#app-mount form div[class*="selectorSelected-"] {
    background: #101010;
}/* autocomplete selected option */
.theme-dark .message-group .comment .markup {
    text-shadow: 0 0 1px red;
}
.message-group .avatar-large {
 	width           : 20px !important;
	height          : 40px !important;
	border          : 2px solid #000000;
    border-radius   : 0 !important;
    background-size : cover !important;
    transition      : all .2s ease !important;
    opacity         : .5 !important;
}
.message-group .avatar-large:hover {
    width           : 40px !important;
    opacity         : 1 !important;
}
.message-group {
    background-color: #090909;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
}
.avatar-small .status {
	width: 30px !important;
	height: 30px !important;
}
.members-1bid1J .avatar-small .status {
	right: -2px !important;
}
.user-popout .avatar-wrapper .avatar-popout .status {
	width: 98px !important;
	height: 98px !important;
	right: 0 !important;
	bottom: 0 !important;
	border-radius: 100% !important;
	border: 4px solid !important;
}
.message-group .emoji {
    height: 20px;
    width: 20px;
}
.botTagRegular-288-ZL::before,
.headerBotTag-1SM7sD::before,
.botTagRegular-288-ZL::after,
.headerBotTag-1SM7sD::after {
    content: '"';
}
/*Others*/;
.private-channels .avatar-small .status {
    right: -2px;
    bottom: -2px
}
.avatar-small .status {
	width: 31px !important;
	height: 1px !important;
}
.members-1bid1J .avatar-small .status {
	right: -2px !important;
}
.user-popout .avatar-wrapper .avatar-popout .status {
	width: 98px !important;
	height: 98px !important;
	right: 0 !important;
	bottom: 0 !important;
	border-radius: 100% !important;
	border: 4px solid !important;
}
.account .avatar-small .status {
    bottom: -1px;
}
.private-channels .avatar-small .status {
    right: -2px;
    bottom: -2px
}
 .message-group-blocked {
    display: none!important;
}
* {
	font-size: 13px !important;
}
.typeWindows-15E0Ys {
    height: 2px;
    margin-top: 0;
    background: linear-gradient(to right, #101010 0%, #101010 50%, #101010 100%);
    height:25px;transition:.2s ease-in-out
}
.winButton-U7zAqI {
	background: linear-gradient(to right, transparent 0%, transparent 50%, transparent 100%);
    height:25px;transition:.2s ease-in-out
}
.winButton-U7zAqI:hover {
    top: 1px;
    height:25px; transition:.2s ease-in-out
}
